# Flutter build files
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/.flutter-plugins*
frontend/.packages
frontend/.env


# Node modules
backend/node_modules/

# Environment variables
backend/.env

# macOS / system
.DS_Store
